#content-header
  .fa-lg
    margin-right 8px

#content-wrapper
  .main-box
    padding-top 10px

    .action-btn
      margin-right 5px

#header-navbar
  #logo
    .brand
      font-size 21px
      line-height 30px
