#execution-details .main-box-body
  padding 20px

#no-execution
  text-align center
  margin 100px auto

  h1
    color black
    font-size 25px

  h3
    border-bottom 0
    margin-top 0

  pre
    max-width 450px
    margin 0 auto
