.crud-main
  max-width 900px

  header
    margin-bottom 30px

    .title
      font-size 28px
      vertical-align middle

    aside
      float right

      input
        max-width 171px
        margin-right 14px
        display inline

  .dataTables_wrapper
    background-color white
    border-radius 3px
    padding 20px
    color #303030

    td
      text-align center

    .action-btn
      font-size 20px
      color #202020
      margin-right 10px
